@page "/car-tool"

<header>
  <h3>Car Tool</h3>
</header>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Tesla</td>
      <td>S</td>
      <td>2019</td>
      <td>blue</td>
      <td>120000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Ford</td>
      <td>Fusion Hybrid</td>
      <td>2020</td>
      <td>green</td>
      <td>45000</td>
    </tr>
  </tbody>
</table>

@code {

}
