@using ToolsAppDemo.Shared

<ul>
  @foreach (var color in Colors)
  {
    <li>
      @color.Name
      <button type="button" @onclick=@(() => setShowDetailsColorId(color.Id))>View Details</button>
      <a href="/color-tool/@Uri.EscapeUriString(color.Id.ToString())">Details Page</a>

      @if (showDetailsColorId == color.Id) {  
        <div>
          <h4>Color Details</h4>
          <ul>
            <li>Id: @color.Id</li>
            <li>Name: @color.Name</li>
            <li>HexCode: @color.HexCode</li>
          </ul>
        </div>
      }

    </li>
  }
</ul>

@code {

  [Parameter]
  public IEnumerable<Color> Colors { get; set; }

  private long showDetailsColorId = 0;

  private void setShowDetailsColorId(long colorId)
  {
    showDetailsColorId = colorId;
  }

}
